@import '../../styles/settings.scss';

.button {
    background: $color-success;
    border: 0;
    color: $color-light;
    text-align: center;
    line-height: $base-size / 2;
    font-size: $base-size * 1.5;
    padding: $base-size * 2;
    margin: $base-size;
    border-radius: $radius;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    transition: $transition;

    &:hover {
        background: darken($color-success, 5%);
    }
}